/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/

.projects .portfolio-flters li {
    cursor: pointer;
    /* display: inline-block;*/
    /*  padding: 0;*/
    font-size: 18px;
    font-weight: 500;
    margin: 7px 4px;
    line-height: 1;
    /* border-radius: 10px; */
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    /* width:300px; */
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 100%;



}


.projects .portfolio-flters {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    */ box-shadow: 0 0 5px 1px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: auto;
    position: relative;
    background: white;
    /* border-radius: 20px 20px 0 0; */
    display: flex;
    background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0));
    /* Shadows */
    /* Shadow covers */
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 20px 100%, 20px 100%, 20px 100%, 20px 100%;
    background-attachment: local, local, scroll, scroll;
    min-width: 80px;
    margin-bottom: 10px;
}

.projects .portfolio-flters li:hover,
.projects .portfolio-flters li.filter-active {
    border: 2px solid #003366;

}

.projects .portfolio-flters li:first-child {
    margin-left: 0px;
}

.projects .portfolio-flters li:last-child {
    margin-right: 0px;
}

@media (max-width: 575px) {
    .projects .portfolio-flters li {
        /* font-size: 14px;*/
        margin: 0 5px;
    }
}

.projects .portfolio-content {
    position: relative;
    overflow: hidden;
}

.projects .portfolio-content img {
    transition: 0.3s;
}

.projects .portfolio-content .portfolio-info {
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
}

.projects .portfolio-content .portfolio-info h4 {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    background-color: var(--color-primary);
}

.projects .portfolio-content .portfolio-info p {
    position: absolute;
    bottom: 10px;
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
}

.projects .portfolio-content .portfolio-info .preview-link,
.projects .portfolio-content .portfolio-info .details-link {
    position: absolute;
    left: calc(50% - 40px);
    font-size: 26px;
    top: calc(50% - 14px);
    color: #fff;
    transition: 0.3s;
    line-height: 1.2;
}

.projects .portfolio-content .portfolio-info .preview-link:hover,
.projects .portfolio-content .portfolio-info .details-link:hover {
    color: var(--color-primary);
}

.projects .portfolio-content .portfolio-info .details-link {
    /*left:30%;*/
    font-size: 25px;
    line-height: 0;

}

.projects .portfolio-content:hover .portfolio-info {
    opacity: 1;
    color: #ffff;
}

.projects .portfolio-content:hover img {
    transform: scale(1.1);

}

.active3 {
    background-color: #003366;
    /* padding: 0px 50px 0px 50px !important;  */
    color: white !important;
    border: 1px solid #808080;


}

.text-class:hover {
    background-color: #0090d0;
    color: #fff;
    transform: scale(0.9);
}



.details h4 {
    text-align: center;
    color: #bf360c;
}



/*.container {
  padding: 2rem 0rem;
}
*/
/* h4 {
    margin: 0rem 0rem 1rem;
} */

.bdr{
border-top: 1px solid #eff1f5;
    padding: 10px 10px;
}

.mainimgs {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.downbt{
    float: right;
}



@media only screen and (max-width: 600px) {
.mainimgs{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        max-width: 250px;
        max-height: 250px;
            /* padding: 10px 0px 0px 0px; */
            /* float: revert; */
            /* align-items: center; */
        margin-left: 50px; 
}
.downbt{
    float: left;
    margin-top: 20px;
}

.vc_btn3.vc_btn3-size-lg.vc_btn3-icon-right:not(.vc_btn3-o-empty) {
    border-radius: 5px;
     padding: 10px; 
}
}

/**/


/* Contact */

.contact-info {
    width: 50%;


}

.contact-info-item {
    display: flex;
    margin-bottom: 30px;

}

.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
}

.contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
}

.contact-info-content {
    margin-left: 20px;
}

.contact-info-content h4 {
    color: #1da9c0;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p {
    color: #fff;
    font-size: 1em;
}

.contact-form {
    background-color: #fff;
    /* padding: 40px 40px; */
    /* width: 45%; */
    padding-bottom: 20px;
    padding-top: 20px;

}

.contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box textarea:focus~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
    width: 100%;
    background: #00bcd4;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #00bcd4;
    transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
    background: #FFF;
    color: #00bcd4;
}

@media only screen and (max-width: 600px) {
    .mainimg {
        background-color: rgb(2 7 57 / 80%);
        padding: 0px;
    }
}

@media (max-width: 991px) {
    .mainimg {
        background-color: rgb(2 7 57 / 80%);
        padding: 0px;
    }


    .contact-info {
        margin-bottom: 40px;
        width: 100%;
    }

    .contact-form {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.mainimg {
    background-color: rgb(2 7 57 / 80%);
    padding-top: 60px;
    padding-bottom: 60px;
}


.wave {
    position: absolute;

    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://www.aspirealty.com/wp-content/themes/asp/images/shape.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 450px;
    perspective: 1000px;
    margin: 20px auto 5px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;


}

.flip-card-front i {
    font-size: 60px;
    margin-top: -50px;
}

.flip-card-front h4 {
    font-siz: 30px;
    padding: 10px 10px;
}


.flip-card-front {
    background-color: #fff;
    color: black;
}

.flip-card-back {
    background-color: rgb(224, 227, 233);
    color: #000;
    transform: rotateY(180deg);
    padding: 20px 20px;
    text-alin: justify;
}



/* brands */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.bdr {
    border-top: 1px solid #d3d5da;
    padding: 10px 10px;
}

